body {
    margin: 0;
    padding: 0;
}

div {
    text-align: center;
    color: gray;
}

h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bolder;
  
}

a:hover{
    color: rgb(34, 92, 201);
}
a:visited {
    color: green; 
  }
  


  